.container
  .row
    .col-md-12
      - if @requeriment_policy.not_allowed?
        .card
          .card-body.text-center.card-black 
            Não é possível iniciar um novo requerimento pois existe requerimento aberto.
      - else 
        = link_to "Novo requerimento", external.new_requeriment_path, class: 'btn btn-primary btn-block'
  %hr.divider
  .row
    .col-md-12
      - if @requeriments.present?
        - @requeriments.order(id: :desc).each do |requeriment|
          %a{href: "#{external.requeriment_path(requeriment)}"}
            .card#card-list
              .card-body
                .row
                  .col-12
                    .title 
                      %b N°
                      #{requeriment.id} 
                    %p.title-sm
                      = requeriment.requeriment_category.name rescue t(:no_info)
                    - if requeriment.attendant_answer?
                      %p.title-sm
                        Respondido em #{requeriment.attendant_answer_at.strftime("%d/%m/%Y")}
                    - else 
                      %p
                        %b Aberto em #{requeriment.created_at.format_date}
          
        
      - else
        .row
          .col-md-12
            .card
              .card-body.text-center
                Você não possui nenhum requerimento até o momento.