.container
  .row.mt-2
    .col-12
      %a{href: "#{external.new_entity_path}"} 
        .card
          .card-body
            .row
              .col-3
                = image_tag 'portal.png'
              .col-9
                .title.bold Portal CODHAB
                .title-xs Pesquisar dados da entidade através do CNPJ
  .row.mt-2
    .col-12
      %a{href: "#{external.new_entity_path}"} 
        .card
          .card-body
            .row
              .col-3
                = image_tag 'portal.png'
              .col-9
                .title.bold Ações urbanas
                .title-xs Pesquisar dados da entidade através do CNPJ
  .row.mt-2
    .col-12
      %a{href: "#{external.new_entity_path}"} 
        .card
          .card-body
            .row
              .col-3
                = image_tag 'portal.png'
              .col-9
                .title.bold Mobilização social
                .title-xs Pesquisar dados da entidade através do CNPJ
  .row.mt-2
    .col-12
      %a{href: "#{external.new_entity_path}"} 
        .card
          .card-body
            .row
              .col-3
                = image_tag 'portal.png'
              .col-9
                .title.bold Habita Brasília
                .title-xs Pesquisar dados da entidade através do CNPJ
