
.container
  .row#header-cadastre
    .col-12
      .card
        .card-body
          .title.bold= @cadastre.camel_case_name
          %p.title-md= @cadastre.cpf.format_cpf
          %p 
            .bold Situação cadastral: 
            = @cadastre.current_situation_name
          %p 
            .bold Programa: 
            = @cadastre.current_program_name 

  .row.mt-2
    .col-12
      %a{href: "#{candidate.cadastre_path(current_candidate)}"} 
        .card
          .card-body
            .row
              .col-3.text-center
                = image_tag 'clipboard.png', width: 50, style: "margin-top: 20px;"
              .col-9
                .title.bold Meu dados
                .title-xs Detalhamento dos meus dados cadastrais
  .row.mt-2
    .col-12
      %a{href: "#{candidate.attendance_tickets_path}"} 
        .card
          .card-body
            .row
              .col-3.text-center
                = image_tag 'exchange.png', width: 50, style: "margin-top: 20px;"
              .col-9
                .title.bold  Iniciar atendimento
                .title-xs Meus atendimentos e atualizações do cadastro       


                  
  .row.mt-2
    .col-12
      %a{href: "#{candidate.notifications_path}"} 
        .card
          .card-body
            .row
              .col-3.text-center
                = image_tag 'ring.png', width: 50, style: "margin-top: 20px;"
              .col-9
                .title.bold Notificações
                .title-xs Listagem de notificações envidas pela CODHAB
                  


  .row.mt-2
    .col-12
      %a{href: "#{candidate.edit_attendance_contact_path(current_candidate)}"} 
        .card
          .card-body
            .row
              .col-3.text-center
                = image_tag 'contact.png', width: 50, style: "margin-top: 20px;"
              .col-9
                .title.bold Dados de contato  
                .title-xs Atualização de dados de contato

  .row.mt-2
    .col-12
      %a{href: "#{candidate.requeriments_path}"} 
        .card
          .card-body
            .row
              .col-3.text-center
                = image_tag 'document.png', width: 50, style: "margin-top: 20px;"
              .col-9
                .title.bold Meus requerimentos  
                .title-xs Requerimentos vínculados ao meu CPF                 


  .row.mt-2
    .col-12
      %a{href: "#{candidate.indications_path}"} 
        .card
          .card-body
            .row
              .col-3.text-center
                = image_tag 'list.png', width: 50, style: "margin-top: 20px;"
              .col-9
                .title.bold Indicações
                .title-xs Indicações realizadas para empreendimentos 

  .row.mt-2
    .col-12
      %a{href: "#{candidate.questions_path}"} 
        .card
          .card-body
            .row
              .col-3.text-center
                = image_tag 'question.png', width: 50, style: "margin-top: 20px;"
              .col-9
                .title.bold Dúvidas
                .title-xs FAQ, contato e 
                  
  .row.mt-2
    .col-12
      %a{href: "#{candidate.session_path(current_candidate)}", data: { method: :delete}} 
        .card
          .card-body
            .row
              .col-3.text-center
                = image_tag 'exit.png', width: 50
              .col-9
                .title.bold Finalizar acesso  
                .title-xs Finalizar e sair da área restrita                      