
.container
  .row
    .col-12
      .card
        .card-body
          %h4
            %b Elton Charles Cruz da Silva
          %p.title-md= @cadastre.cpf.format_cpf
          %small
            %p 
              %b Situação cadastral
              %br/
              Habilitado - documentação entregue
            %p 
              %b Lista
              %br/
              RII 
          
  .divider
  .row
    .col-12
      %a{href: "#{candidate.cadastre_path(current_candidate)}"} 
        .card
          .card-body
            .row
              .col-3
                = image_tag 'clipboard.png', width: 50
              .col-9
                %h6
                  %b Meu dados
                Detalhamento dos meus dados cadastrais

                  
  .row.mt-2
    .col-12
      %a{href: "#{candidate.notifications_path}"} 
        .card
          .card-body
            .row
              .col-3
                = image_tag 'ring.png', width: 50
              .col-9
                %h6
                  %b Notificações
                Listagem de notificações envidas pela CODHAB
                  

  .row.mt-2
    .col-12
      %a{href: "#{candidate.attendance_tickets_path}"} 
        .card
          .card-body
            .row
              .col-3
                = image_tag 'exchange.png', width: 50
              .col-9
                %h6
                  %b Meus atendimentos 
                Meus atendimentos e atualizações do cadastro       


  .row.mt-2
    .col-12
      %a{href: "#{candidate.edit_attendance_contact_path(current_candidate)}"} 
        .card
          .card-body
            .row
              .col-3
                ok
              .col-9
                %h6
                  %b Dados de contato  
                Atualização de dados de contato

  .row.mt-2
    .col-12
      %a{href: "#{candidate.requeriments_path}"} 
        .card
          .card-body
            .row
              .col-3
                = image_tag 'document.png', width: 50
              .col-9
                %h6
                  %b Meus requerimentos  
                Requerimentos vínculados ao meu CPF                 


  .row.mt-2
    .col-12
      %a{href: "#{candidate.indications_path}"} 
        .card
          .card-body
            .row
              .col-3
                = image_tag 'list.png', width: 50
              .col-9
                %h6
                  %b Indicações
                Indicações realizadas para empreendimentos 

  .row.mt-2
    .col-12
      %a{href: "#{candidate.questions_path}"} 
        .card
          .card-body
            .row
              .col-3
                = image_tag 'question.png', width: 50
              .col-9
                %h6
                  %b Dúvidas
                FAQ, contato e 
                  
  .row.mt-2
    .col-12
      %a{href: "#{candidate.session_path(current_candidate)}", data: { method: :delete}} 
        .card
          .card-body
            .row
              .col-3
                = image_tag 'exit.png', width: 50
              .col-9
                %h6
                  %b Finalizar acesso  
                Finalizar e sair da área restrita                      