
#header-content
  .container
    .row
      .col-12
        %p.title OSVALDO PEREIRA DA CUNHA
        %p.title-md 610.211.991-68
        %p.subtitle
        %p.subtitle 
          Situação cadastral: 
          %br/
          %p.uppercase
            %b Habilitado - Documentação entregue
        %p.subtitle 
          Aviso: 
          %br/
          %p.uppercase
            %b.danger Pendência - XYZ

#content            
  .color-content-border      
  .color-content
    .container
      .row
        .col-12
          .row.pt-4
            .col-6
              %a{href: "#{candidate.cadastres_path}"}
                .card
                  .card-body
                    = image_tag 'clipboard.png', width: 50
                    %h6 Meu cadastro
            .col-6
              %a{href: "#{candidate.attendance_path}"}
                .card
                  .card-body
                    = image_tag 'exchange.png', width: 50
                    %h6 Atualizações              
          .row.pt-4
            .col-6
              %a{href: "#{candidate.notifications_path}"}
                .card
                  .card-body
                    = image_tag 'ring.png', width: 50
                    %h6 Notificações
            .col-6
              %a{href: "#"} 
                .card
                  .card-body
                    = image_tag 'document.png', width: 50
                    %h6 Requerimentos  
          .row.pt-4
            .col-6  
              %a{href: "#"}
                .card
                  .card-body
                    = image_tag 'chat.png', width: 50
                    %h6 Conversas 
            .col-6 
              %a{href: "#"}
                .card
                  .card-body
                    = image_tag 'list.png', width: 50
                    %h6 Indicações                               
          .row.pt-4
            .col-6 
              %a{href: "#"}
                .card
                  .card-body
                    = image_tag 'question.png', width: 50
                    %h6 Dúvidas
            .col-6 
              %a{href: "#"}
                .card
                  .card-body
                    = image_tag 'exit.png', width: 50
                    %h6 Finalizar sessão