.container
  .row.mt-2
    .col-md-12
      .card
        .card-body
          .title-md.bold.text-center
            %b= @ticket_document.document_type.label.humanize
            %p
              %small= @ticket_document.document_type.description
  .row.mt-2
    .col-md-12
      = simple_form_for @ticket_document, url: attendance_ticket_step_document_type_documents_path(@ticket, @ticket_step, @ticket_document_type),  html: {id: 'form-upload'} do |f|
        %label.btn.btn-primary.btn-block
          %b Anexar foto
          %span{style: 'display: none'}
            = f.input :attachment, as: :file
            = f.input :document_type_id, as: :hidden
          .progress-content
      %script#template-upload{:type => "text/x-tmpl"}
        .upload
          .progress
            .progress-bar{style: "width: 0%"}
  .row.mt-2
    .col-md-12.content-index            
      = render 'index'