= simple_form_for url_for do |f|
  = f.input :name
  = f.input :cpf
  = f.input :rg
  = f.input :rg_org
  = f.input :rg_uf_id, collection: Support::Common::State.all.map {|k,v| [k.acronym, k.id]}, include_blank: t(:include_blank)
  = f.input :born, as: :string, input_html: { class: 'date'}
  = f.input :kinship_id, as: :select, collection: Support::Common::Kinship.status_active, include_blank: t(:include_blank)
  = f.input :special_condition, as: :select, include_blank: false, input_html: { id: "special_condition" }
  #special_condition_type{style: "display: f.object.special_condition ? 'block' : 'none' "}
    = f.input :special_condition_type_id, as: :select, collection: Support::Common::SpecialConditionType.status_active, include_blank: t(:include_blank)


:javascript
  $("#special_condition").on("change", function() {
    $("#special_condition_type").toggle();
  });
