.container
  - current_candidate.tickets.where(status: true).limit(1).each do |ticket|
    .row
      .col-md-12
        .subtitle.text-center.bold Atendimento atual
    .row.mt-2
      .col-md-12
        %a{href: "#{candidate.attendance_ticket_steps_path(ticket)}"}
          .card
            .card-body
              .row
                .col-3
                  = image_tag 'warning.png'
                .col-9
                  .title.bold
                    Atendimento ##{ticket.id}
                  .title-sm
                    %b= ticket.ticket_category.name
                  %small.title-xs Pendente
                    
  - if current_candidate.policy.new_ticket_allowed?
    .row
      .col-md-12
        = link_to "Iniciar novo atendimento", candidate.new_attendance_ticket_path, class: 'btn btn-primary btn-block', data: { disable_with: t(:disable_with)}            
  %hr.divider
  .row.mb-2
    .col-md-12
      %h6.text-center 
        %b Histórico de atendimento
  - if current_candidate.tickets.where(status: false).present?
    - current_candidate.tickets.where(status: false).each do |ticket|
      .row.mt-2
        .col-md-12
          .card
            .card-body
              %h6 Atendimento #1
              %small Atualização cadastral
              %br/
              %small Situação
              %br/
              %small 01/08/2018
  - else
    .row.mt-1
      .col-md-12
        .card
          .card-body.text-center
            %small Você não possui nenhum atendimento.
                