.container
  - @ticket.ticket_category.ticket_category_steps.order(:screen_order).each do |step|
    .row.mb-3
      .col-md-12    
        %a{href: "#{attendance_step_url(ticket: @ticket, ticket_category_step: step)}", data: { remote: true}}
          .card
            .card-body
              .row 
                .col-3
                  = attendance_step_icon(ticket: @ticket, ticket_category_step: step)
                .col-9
                  .title
                    %b= step.name
                  .title-xs= step.resume.humanize
                  = attendance_step_action(ticket: @ticket, ticket_category_step: step)
  .row
    .col-md-12
      = link_to "Finalizar meu atendimento", attendance_ticket_close_path(@ticket), remote: true, class: 'btn btn-success btn-block'


- if @ticket.ticket_category.ticket_category_terms.present? && @ticket.ticket_category.ticket_category_terms.where.not(term_id: @ticket.ticket_terms.map(&:term_id)).present?
  - @ticket.ticket_category.ticket_category_terms.where.not(term_id: @ticket.ticket_terms.map(&:term_id)).limit(1).each do |ticket_category_term|
    :javascript
      $(document).on('ready', function() {
        $(".modal").html("#{escape_javascript(render 'candidate/attendance/ticket_category_terms/show', ticket: @ticket, ticket_category_term: ticket_category_term)}");
        $(".modal").modal("show");
      });
        