.container
  - @ticket.ticket_category.ticket_category_steps.order(:screen_order).each do |step|
    .row.mb-3
      .col-md-12    
        %a{href: "#{attendance_step_url(ticket: @ticket, ticket_category_step: step)}", data: { remote: true}}
          .card
            .card-body
              .row 
                .col-3
                  = attendance_step_icon(ticket: @ticket, ticket_category_step: step)
                .col-9
                  .title
                    %b= step.name
                  .title-xs= step.resume.humanize
                  = attendance_step_action(ticket: @ticket, ticket_category_step: step)
  .row
    .col-md-12
      = link_to "Finalizar meu atendimento", attendance_ticket_close_path(@ticket), remote: true, class: 'btn btn-success btn-block'