!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %title Codhab::WebApp
    %link{:href => "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900", :rel => "stylesheet"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/header'
    #main
      = yield

    #modal.modal.fade{tabindex: '-1', role: 'dialog'}
    .spinner.text-center{style:'display: none;'}
      = image_tag 'loading.gif'
      %h4
        %b Carregando